<!-- This template renders the login page for a user to log in as a consumer or producer. -->

{% extends 'base.html' %}

{% load static %}

{% block content %}


            
    <div class="container">
        <div class="row">
        	<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card my-5 card-signin login-card">
					<div class="card-body">
						<h5 class="card-title text-center">Sign In</h5>
						<form method="post" action="." class="form-signin">
							{% csrf_token %}
							<div class="form-label-group">
								<input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                                <label class="input-box" for="email">Email address</label>
							</div>

							<div class="form-label-group">
								<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                                <label class="input-box" for="password">Password</label>
							</div>

                            <!--
							<div class="custom-control custom-checkbox mb-3">
								<input type="checkbox" class="custom-control-input" id="customCheck1">
								<label class="custom-control-label" for="customCheck1">Remember password</label>
							</div>
                            -->

							<button id="login-submit" class="btn btn-lg btn-primary btn-block text-uppercase green-button" type="submit" name="submit" value="Login">Sign in</button>
						</form>
					</div>
				</div>
			</div>
        </div>
    </div>
{% endblock %}
