<!-- This template renders the page for displaying the producer profile. -->

{% extends 'base.html' %}

{% load static %}

{% block content %}
    <script type="text/javascript" src="{% static 'js/horizontal_scroll.js' %}"></script>
    <div id="customer-main-content" class="main-content row">
                <div id="customer-content-title" class="page-header">
                    Producer Profile:
                </div>

                <div id="producer-favorites-container">
                    <img src="../../static/images/profile_pics/amir.png" alt="Producer Profile Picture">
                    <div style="height: 100%; overflow: hidden;">
                                            <h4>Name: <b>{{ current_user.get_short_name }}</b></h4>
                                             <h4>Store Name: <b>{{current_user.store_name}}</b></h4>
                                            <h4>Rating: <b>{{current_user.rating}}</b></h4>
                                            <h4>Address: <b>{{current_user.address}}</b></h4>
                                            <h4>Birthday: <b>{{current_user.birthday}}</b></h4>

                                        </div>




                  
                    <script>
                        // Disable scroll right button if there are not enough elements
                        var container = document.getElementById('horizontal-scroll-1');
                        var num_children = container.childElementCount;
                        if (num_children <= 4 ||
                            container.scrollLeft == (container.scrollWidth - container.offsetWidth)) {
                            document.getElementById('scroll-right-btn-1').style.visibility = "hidden"
                        }
                    </script>
                <a class="btn btn-lg btn-primary green-button" id="side-menu-profile" href="{% url 'edit_producer_profile' %}">Edit Profile</a>
                </div>

                
	</div>

{% endblock %}
