<!-- This template renders the page for displaying the consumer profile. -->

{% extends 'base.html' %}

{% load static %}

{% block content %}
    <script type="text/javascript" src="{% static 'js/horizontal_scroll.js' %}"></script>
    <div id="customer-main-content" class="main-content row">
                <div id="customer-content-title" class="page-header">
                    Consumer Profile:
                </div>

                <div id="producer-favorites-container">
                    <div id="horizontal-scroll-1" class="favorites-scroll scrolling-wrapper">
                                <div style="height: 100%" onClick="javascript:this.parentNode.submit();">
                                        <div style="height: 100%; overflow: hidden;">
                                            <h4>Name: <b>{{ current_user.get_short_name }}</b></h4>
                                            <h4>Address: <b>{{ current_user.address }}</b></h4>
                                            <h4>Birthday: <b>{{ current_user.birthday }}</b></h4>
                                            <h4>Favorite Cooks: <b>{{ current_user.get_fav_cooks }}</b></h4>
                                            <h4>Favorite Dishes: <b>{{ current_user.get_fav_items }}</b></h4>
                                        </div>
                                </div>
                    </div>

                    <button id="scroll-left-btn-1"
                            class="favorites-left-button favorites-button"
                            type="button"
                            onclick="favoritesScroll(false, 1)"></button>
                    <button id="scroll-right-btn-1"
                            class="favorites-right-button favorites-button"
                            type="button"
                            onclick="favoritesScroll(true, 1)"></button>
                  
                    <script>
                        // Disable scroll right button if there are not enough elements
                        var container = document.getElementById('horizontal-scroll-1');
                        var num_children = container.childElementCount;
                        if (num_children <= 4 ||
                            container.scrollLeft == (container.scrollWidth - container.offsetWidth)) {
                            document.getElementById('scroll-right-btn-1').style.visibility = "hidden"
                        }
                    </script>
                </div>

                <a class="btn btn-lg btn-primary green-button" id="side-menu-profile" href="{% url 'edit_consumer_profile' %}">Edit Profile</a>

	</div>

{% endblock %}
